* {
  font-family: 'Droid Sans Mono', monospace;
  line-height: 2;
  border: none;
  outline: none;
}

body {
  margin: 0;
  background-color: #EFEFEF;
}

.vertical {
  display: flex;
  align-items: center;
}

.logout {
  font-size: 12px;
  cursor: pointer;
}

.logout:hover {
  background-color:red;
  color:white;
}
