input[type="text"] {
  color: red;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  padding-left: 20px;
}


/*.today::after {
  content: "📆";
}*/

.today {
  font-weight: 900;
}

form>button {
  display: none;
}

.day-text, .event-text>span {
  cursor: pointer;
}

.day-text:hover{
  font-weight: 900
}
