input[type="text"] {
  color: red;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #fff;
  padding-left: 20px;
}


/*.today::after {
  content: "📆";
}*/

.today {
  font-weight: 900;
}

form>button {
  display: none;
}

.day-text, .event-text>span {
  cursor: pointer;
}

.day-text:hover {
  color: white;
  font: bold 52px;
  text-shadow: 1px 1px red, 2px 2px red, 2px 2px red;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -ms-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
}

.remove {}
