<div class="row">
  <div class="col-lg-12">
    <div *ngFor="let day of calendar">

      <div (click)="toggleEventInput(day.date)"
           [ngClass]="day.isToday ? 'today': ''"
           class="day-text"> {{day.name}}</div>

      <div *ngIf="day.isFirstDay">
        <h3>{{getMonthText(day.date)}}</h3>
      </div>

      <div style="margin-left:20px"
           *ngFor="let event of day.events"
           class="event-text">
        # {{event.name}}
        <span (click)="removeEvent(event.$key, day)">&times;</span>
      </div>

      <div *ngIf="eventInputs[day.date]">
        <form (ngSubmit)="addEvent(newEvent, day.date)">
          <input (keydown)="handleKeypress($event, day)"
                 type="text"
                 autofocus="true"
                 autocomplete="off"
                 name="eventName"
                 [(ngModel)]="newEvent.name">
          <button type="submit">+</button>
        </form>
      </div>
    </div>
  </div>
</div>
